<.header>
  New Scheduling
  <:subtitle>Use this form to manage scheduling records in your database.</:subtitle>
</.header>

<.scheduling_form changeset={@changeset} action={~p"/schedulings"} />

<.back navigate={~p"/schedulings"}>Back to schedulings</.back>
