<.header>
  New Shift
  <:subtitle>Use this form to manage shift records in your database.</:subtitle>
</.header>

<.shift_form changeset={@changeset} action={~p"/shifts"} />

<.back navigate={~p"/shifts"}>Back to shifts</.back>
